---
layout: default
---

<div class="home">

  <div class="what-to-lean">
    Here you can learn how to <strong>build a robot</strong><span class="cursor"></span>
  </div>

  <div class="team">
    <strong>meet the team</strong>
    <div class="vertical-list">
      {% for post in site.posts %}
        {% if post.category == 'team' %}
          <div class="person">
            {% if post.image != "" %}
              <div class="image" style="background-image: url({{ site.baseurl }}/assets/{{ post.image }});"></div>
            {% else %}
              <div class="image" style="background-image: url({{ site.baseurl }}/assets/default-profile-image.png);"></div>
            {% endif %}
            <div class="info">
              <strong>{{ post.title }}</strong>
              <a href="{{ site.baseurl }}{{ post.url }}">More</a>
            </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="blog">
    <strong>Blog</strong>
    {% for post in site.posts %}
      {% if post.category == 'blog' %}
        <article>
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
          {{ post.excerpt }}
        </article>
      {% endif %}
    {% endfor %}
  </div>

</div>
